*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
#container{
    position:relative;
    margin:0px auto;
    width: 900px;
    height: 80%;
    margin-top: 0;
    background-color: white !important;
    background-image: url("../images/dot.png");
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    background-color: lightgreen;
}
header {
    position:relative;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(254, 254, 196);
    width: 900px; 
    height: 70px;
}
footer {
    text-align: center; 
    margin: 0px auto;
    background-color: rgb(254, 254, 196);
    border: none;
    width: 900px; 
    height: 80px;
    overflow: hidden;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
}
header img {
    margin-top: 10px;
    margin-bottom: 10px;
}
footer img {
    float: right; 
    width: 45px; 
    height: 50px;
    margin-right: 50px; 
    margin-top: 30px;
}